* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 80px;
  font-size: 30px;
  letter-spacing: 15px;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(200deg,#0162c8, #55e7fc);
  clip-path: circle(25px at 50% 90%);
  transition: all 0.3s ease-in-out;
}
.menu-btn{
  position: absolute;
  left: calc(50% - 25px);
  top: calc(90% - 25px);
  z-index: 2;
  /* background: linear-gradient(200deg,#0162c8, #55e7fc); */
  background: #3a84d3;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu-btn::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  margin-left: -15px;
  margin-top: -5px;
  border-top: 10px solid;
  transition: 0.5s;
}
.menu-btn::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 30px;
  margin-left: -5px;
  margin-top: -15px;
  border-left: 10px solid;
  transition: 0.5s;
}
#menu_btn{
  display: none;
}
#menu_btn:checked ~ .wrapper{
  clip-path: circle(75%);
}
#menu_btn:checked ~ .menu-btn{
  color: #0162c8;
  background: #fff;
  transition: 0.2s;
}
#menu_btn:checked ~ .menu-btn::after{
  transform: rotateZ(45deg);
  transition: 0.5s
}
#menu_btn:checked ~ .menu-btn::before{
  transform: rotateZ(45deg);
  transition: 0.5s
}

.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 30px 0;
}
.wrapper ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 50px;
  position: relative;
  line-height: 50px;
}
.wrapper ul li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: -1;
  border-radius: 50px;
  left: 0;
  transform: scaleY(0);
  transition: 0.3s;
}
.wrapper ul li a:hover::after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #d576ba;
}

.home{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-image: url('../img/主页.png');
}
.note{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-image: url('../img/笔记本.png');
}
.me{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-image: url('../img/个人.png');
}
